{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>爱电影彼影评</title>
    <meta content="这是电影与影评网站的主页，这里提供给用户非凡的体验享受。" name="descriptison"> <!-- 页面描述 -->
    <meta content="热门电影 用户影评" name="keywords"> <!-- 页面关键词 -->

    <!-- Favicons -->
    <link href="/static/img/favicon.png" rel="icon">
    <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon"> <!--apple-touch-icon图片自动处理成圆角和高光等效果-->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
</head>

<body>

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
        <div class="contact-info float-left">
            更多优秀的其他电影网站
            <i class="icofont-hand-drawn-right"></i>
            <i class="icofont-hand-drawn-right"></i>
        </div>
        <div class="social-links float-right">
            <a href="https://movie.douban.com/" class="douban_movie"><i class="icofont-movie"></i></a>
            <a href="https://www.warnerbros.com/" class="warnerbros"><i class="icofont-brand-warnerbros"></i></a>
            <a href="https://www.netflix.com/" class="netflix"><i class="icofont-brand-netflix"></i></a>
        </div>
    </div>
</section>

<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="/user/index/"><i class="icofont-ui-video"><span>爱电影彼影评</span></i></a></h1>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="#header">
                    {% block header %} {% endblock %}
                </a></li>
                <li><a href="/home/#about">经典电影</a></li>
                <li><a href="/home/#services">服务</a></li>
                <li><a href="/home/#portfolio">剧照</a></li>
                {% if request.session.info.name != None %}
                    <li class="drop-down"><a href="">{{ request.session.info.name }}</a>
                        <ul>
                            <li><a href="/logout/">退出登录</a></li>
                        </ul>
                    </li>
                {% elif request.session.user_info.name != None %}
                    <li class="drop-down"><a href="">{{ request.session.user_info.name }}</a>
                        <ul>
                            <li><a href="/user/logout/">退出登录</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="drop-down"><a href="">登录/注册</a>
                        <ul>
                            <li><a href="/user/login/">用户登录</a></li>
                            <li><a href="/login/">管理员登录</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% block search %} {% endblock %}
            </ul>
        </nav><!-- .nav-menu -->

    </div>
    {% block tips %} {% endblock %}
</header><!-- End Header -->

{% block content %}
{% endblock %}

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <h2 align="center" style="font-family: Gabriola">Lucky Boon:</h2>
        <p align="center">每次我坐在电影院里，看到这么多不同的人处于同一个时空，为同一个故事、同一种情感或笑或哭或骂，都觉得不可思议。</p>
    </div>

    <div class="container">
        {#      <div class="copyright">#}
        {#        &copy; Copyright <strong><span>Mamba</span></strong>. All Rights Reserved#}
        {#      </div>#}
        <div class="copyright">
            联系我 <strong><span>Lucky_Boon</span></strong> 如有任何问题
        </div>
        <div class="credits">
            <i class="icofont-envelope"></i><a href="https://mail.qq.com/">1632691127@qq.com</a>
            {#        <i class="icofont-phone"></i> +1 5589 55488 55#}
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>
<script src="/static/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="/static/vendor/venobox/venobox.min.js"></script>
<script src="/static/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/static/vendor/counterup/counterup.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

</body>

</html>