{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <style>
        .account{
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaaaaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2{
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
{% if  wrong == 1 %}
    <div class="alert alert-danger" role="alert">
      <strong>警告！</strong> 请尝试如下方式重新登录。
    </div>
{% endif %}
<div class="account">
    <h2>管理员登录</h2>
    <form method="post" action="/login/" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label>用户名</label>
            {{ form.username }}
            <span style="color: red">{{ form.username.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>密码</label>
            {{ form.password }}
            <span style="color: red">{{ form.password.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="id_code">图片验证码</label>
            <div class="row">
                <div class="col-xs-7">
                    {{ form.code }}
                    <span style="color: red">{{ form.code.errors.0 }}</span>
                </div>
                <div class="col-xs-5">
                    <img id="image_code" src="/image/code/">
                </div>
            </div>
        </div>
        <input type="submit" value="登 录" class="btn btn-primary">
        <a class="btn btn-success" href="/user/login/" style="margin-left: 110px">
            <span class="icofont-man-in-glasses" aria-hidden="true"></span>
            切换用户登录
        </a>
    </form>
</div>
</body>
</html>