{% extends 'index_layout.html' %}

{% block header%}
    <h4>'{{ movie_set.cname }}'的影评</h4>
    <li><a href="/movies/comments/">其他电影影评</a></li>
{% endblock %}


{% block content %}
    <div class="alert alert-success" role="alert" style="margin: 0">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <strong>确定只是看看？</strong> 发表下自己的看法，和小伙伴们讨论 <a href="/movie/{{ movie_set.id }}/comment/add/" class="alert-link">点击这里。</a>.
    </div>

    <div class="list-group" >
        {% for movie in queryset %}
            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-4 text-info" >{{ movie.viewer_name }}<i class="icofont-comment"></i></h4>

                    <small>{{ movie.comment_time }}</small>
                </div>
                <p class="mb-1">{{ movie.comment }}</p>
                <small>{{ movie.star }}</small>
            </a>
        {% endfor %}
    </div>

    <ul class="pagination" style="position: relative; left: 28%;">
        {{ page_string }}
    </ul>
{% endblock %}