{% extends 'index_layout.html' %}
{% block search %}
    <div style="float: right; width: 300px;">
                <form method="get">
                    <div class="input-group"> <!--设置搜索框-->
                        <!-- form-control:为输入框添加css样式 -->
                        <input type="text" name="q" class="form-control" placeholder="请输入您想看的电影" value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
{% endblock %}

{% block content %}
    <section class="about-lists">
            <div class="container">

                <div class="row no-gutters">
                    {% for movie in queryset %}
                        <!--fade-up: 淡入--> <!--data-aos-delay: 动画的延迟时间-->
                        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="{{ movie.id }}*100">
                            <span>{{ movie.id }}</span>
                            <img src="{{ movie.pic_link }}"  class="img-fluid" alt="电影海报">
                            <a href="/movie/{{ movie.id }}/info/"> <h4>{{ movie.cname }}</h4> </a>
                            <p>{{ movie.introduction }}</p>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- End About Lists Section -->
    <!--分页 -->
    <ul class="pagination" style=" left: 30%; position: relative">
        {{ page_string }}
    </ul>
{% endblock %}
